 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">Login</div>
        <div class="form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
            </form>
            <div class="toggle">
                <a href="{% url 'register' %}" class="toggle-button">¿No tienes una cuenta?</a>
            </div>
        </div>
    </div>
    <script src="{% static 'accounts/js/scripts.js' %}"></script>
</body>
</html>
