 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/userStyle.css' %}">
    <title>Panel de Usuario</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 id="welcomeMessage">¡Bienvenid@, usuario!</h1>
            <button id="logoutButton" class="logout">Logout</button>
        </header>
        <div class="content">
            <aside class="menu">
                <ul>
                    <li><button id="uploadInvoice">Subir Factura</button></li>
                    <li><button id="viewInvoices">Facturas</button></li>
                    <li><button id="analysis">Análisis</button></li>
                    <li><button id="downloadInvoice">Bajar Factura</button></li>
                </ul>
            </aside>
            <main id="main-content">
            
            </main>
        </div>
    </div>
    <script src="{% static 'accounts/js/userScript.js'%}"></script>
</body>
</html>