/* Archivo CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
}
.container {
    width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.header {
    text-align: center;
    padding: 20px;
    background: #00a3d5;
    color: #fff;
    font-size: 1.5em;
}
.form {
    padding: 20px;
}
.form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form button {
    width: 100%;
    padding: 10px;
    background: #00a3d5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.form button:hover {
    background: #007af4;
}

.toggle {
    text-align: center;
    margin-top: 10px;
}

.toggle button {
    background: none;
    color: #00a3d5; /* Color del texto */
    border: none;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.toggle button:hover {
    text-decoration: underline; /* Solo subrayar texto */
    color: #00a3d5; /* Mantener el color del texto */
    background: none; /* Evitar cualquier fondo en hover */
    outline: none; /* Eliminar cualquier contorno predeterminado */
    box-shadow: none; /* Asegurarse de que no haya sombra */
}

#messages {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
}

/* Estilo para mensajes de éxito */
.message.success {
    background: #d4edda; /* Verde claro */
    color: #155724; /* Verde oscuro */
    border: 1px solid #c3e6cb;
}

/* Estilo para mensajes de error */
.message.error {
    background: #f8d7da; /* Rojo claro */
    color: #721c24; /* Rojo oscuro */
    border: 1px solid #f5c6cb;
}

/* Estilo para mensajes de advertencia */
.message.warning {
    background: #fff3cd; /* Amarillo claro */
    color: #856404; /* Amarillo oscuro */
    border: 1px solid #ffeeba;
}

/* Estilo para mensajes informativos */
.message.info {
    background: #d1ecf1; /* Azul claro */
    color: #0c5460; /* Azul oscuro */
    border: 1px solid #bee5eb;
}
