/* Archivo CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
}
.container {
    width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.header {
    text-align: center;
    padding: 20px;
    background: #00a3d5;
    color: #fff;
    font-size: 1.5em;
}
.form {
    padding: 20px;
}
.form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form button {     
    width: 100%;     
    padding: 10px;     
    background: #00a3d5;     
    color: #fff;     
    border: none;     
    border-radius: 4px;     
    font-size: 1em;     
    cursor: pointer; 
} 

.form button:hover {     
    background: #007af4; 
}  

.toggle {     
    text-align: center;     
    margin-top: 10px; 
}  

.toggle button {     
    background: none;     
    color: #00a3d5; /* Color del texto */     
    border: none;     
    padding: 0;     
    font-size: 16px;     
    text-decoration: none;     
    cursor: pointer; 
}  

.toggle button:hover {     
    text-decoration: underline; /* Solo subrayar texto */
    color: #00a3d5; /* Mantener el color del texto */
    background: none; /* Evitar cualquier fondo en hover */
    outline: none; /* Eliminar cualquier contorno predeterminado */
    box-shadow: none; /* Asegurarse de que no haya sombra */
}

/* Estilos para los mensajes de error */
.error {
    color: red;
    font-size: 0.9em;
    margin: 5px 0;
}

/* Clase para ocultar elementos */
.hidden {
    display: none;
}