<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Page</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
<div class="container" id="container">
    <!-- Formulario de inicio de sesión -->
    <div class="form-container login-container">
        <form method="post" action="{% url 'auth' %}">
            {% csrf_token %}
            <h1>Iniciar Sesión</h1>
            {{ login_form.as_p }}
            <button type="submit" name="login">Iniciar Sesión</button>
        </form>
    </div>

    <!-- Formulario de registro -->
    <div class="form-container register-container">
        <form method="post" action="{% url 'auth' %}">
            {% csrf_token %}
            <h1>Registrarse</h1>
            {{ register_form.as_p }}
            <button type="submit" name="register">Registrarse</button>
        </form>
    </div>
</div>
<script src="{% static 'accounts/scripts.js' %}"></script>
</body>
</html>
